/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s; }

html, body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", sans-serif; }

a, a:visited {
  text-decoration: none;
  color: #323232; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #e5e5e5; }

/**
 * Site header
 */
.container {
  height: auto;
  width: 100%;
  margin: 0 auto; }

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #323232;
  margin-bottom: 2em; }
  .main-header a.main-header__title {
    width: 100%;
    color: #fefefe;
    min-height: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 2rem;
    padding: 1rem; }
    @media (min-width: 1000px) {
      .main-header a.main-header__title {
        background-color: #fefefe;
        color: #323232; } }

.main-content {
  min-height: 800px; }

.main-footer {
  min-height: 100px;
  border-top: 10px solid #323232; }

.main-header a.main-header__title {
  font-size: 26px;
  color: #a5a6a9;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 0;
  border-bottom: 7px solid #f45844; }

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #323232;
  margin-bottom: 2em; }
  .main-header a.main-header__title {
    width: 100%;
    color: #fefefe;
    min-height: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 2rem;
    font-family: 'Helvetica Neue';
    padding: 1rem; }
    @media (min-width: 1000px) {
      .main-header a.main-header__title {
        background-color: #fefefe;
        color: #323232; } }

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: auto;
  min-width: 300px;
  margin: 0.5em;
  position: relative;
  overflow: hidden; }
  .post img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-height: 400px;
    max-width: 400px; }
  .post__user {
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2em;
    -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
    background-color: rgba(50, 50, 50, 0.9);
    color: #fefefe; }
    .post__user--name {
      font-size: 2rem;
      text-align: center;
      padding-bottom: 0.5em;
      border-bottom: 2px solid #b2b2b2;
      opacity: 0;
      -webkit-transition-delay: .2s;
              transition-delay: .2s; }
    .post__user--info {
      margin-top: 2em;
      opacity: 0;
      -webkit-transform: translateX(-50px);
          -ms-transform: translateX(-50px);
              transform: translateX(-50px);
      -webkit-transition-delay: .2s;
              transition-delay: .2s; }
  .post:hover .post__user {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    opacity: 1; }
    .post:hover .post__user--name {
      opacity: 1;
      -webkit-transition-delay: 0;
              transition-delay: 0; }
    .post:hover .post__user--info {
      opacity: 1;
      -webkit-transform: translate(0);
          -ms-transform: translate(0);
              transform: translate(0);
      -webkit-transition-delay: 0;
              transition-delay: 0; }

/*# sourceMappingURL=main.css.map */
