.main-header {
    @include flex(space-between, flex-start);
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: $margin-large;
    margin-top: $margin-large;
    width:100%;
    align-items: center;
      a.main-header__title {
      font-size: 2rem;
      font-weight: 600;
      font-family: $base-font-family;
      padding: $container-padding;
      letter-spacing: -1px;
      color: $black;
      border-top: 5px solid #ec6b2d;
      border-bottom: 5px solid #ec6b2d;
      margin-bottom: 0;
      min-height: 5rem;
      display: flex;
      align-items: center;
    }
}
