/**
 * Site header
 */
.container {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.main-header {
  @include flex(space-between, flex-start);
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: $black;
  margin-bottom: $margin-large;

  a.main-header__title {
    width: 100%;
    color: $white;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    padding: $container-padding;
    
    @media (min-width: 1000px) {
      background-color: $white;
      color: $black;
    }
  }
}

.main-content {
  min-height: 800px;
}

.main-footer {
  min-height: 100px;
  border-top: 10px solid $black;
}
